@import url(12bool.css);



/* style */
.row{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
}
[class*='col']{
    background-color: purple;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: .625rem;
}
.row .row > * {
    background-color: greenyellow;
}
section{
    margin-bottom: 1rem;
}
/* second-section */

.second-section [class*='col']{
    padding: 1.25rem;
}